.quem-somos {
     background-color: rgb(81, 167, 243);
 }

.navbar {
    background-color: rgb(138, 228, 160);
  }

.margin {
    padding-top: 40px;
}

body {
    background-color: rgb(219, 219, 219);
}